@{
    ViewData["Title"] = "Profile";
}
<div class="container-fluid" style="margin-top: 200px">
    <h1>Profile</h1>

    <h2>Welcome @Context.User.Identity.Name</h2>
    <a asp-action="DangXuat">Đăng xuất</a>
</div>
 
